* {
  font-family: Sen, Arial, sans-serif; }

body, html {
  scroll-behavior: smooth; }

body {
  background-color: #1f2227;
  color: #fff;
  margin: 0; }

a {
  text-decoration: none;
  color: inherit;
  outline: none; }

h4 {
  text-align: center;
  color: #f3f3f3;
  margin-bottom: 60px; }

.wrap {
  max-width: 1200px;
  margin: auto; }

p {
  opacity: 0.4; }

#siteWrap {
  padding: 0 20px 100px;
  position: relative;
  min-height: calc(100vh - 196px); }

#nav {
  width: calc(100% - 80px);
  padding: 20px 40px;
  position: fixed;
  top: 0;
  background-color: #1f2227;
  z-index: 2; }
  #nav #navWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto; }
    #nav #navWrap #logo {
      font-size: 20px; }
    #nav #navWrap #navLinks ul {
      list-style: none;
      padding: 0; }
      #nav #navWrap #navLinks ul li {
        display: inline-block;
        font-size: 20px; }
        #nav #navWrap #navLinks ul li a {
          padding: 10px 20px;
          border-radius: 5px;
          transition: all .2s ease; }
          #nav #navWrap #navLinks ul li a:hover {
            background-color: #1a1d21; }

#banner {
  height: 100vh;
  margin-top: 20px; }
  #banner .wrap {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 22px; }
    #banner .wrap img {
      height: 200px;
      width: auto;
      margin-right: 30px; }
    #banner .wrap h1 {
      line-height: 58px;
      font-weight: 300;
      font-size: 36px;
      text-align: center; }

#projects {
  margin-bottom: 200px; }
  #projects h4 {
    margin-bottom: 20px; }
  #projects .wrap #projectFilter {
    display: flex;
    margin: 0 auto 60px;
    width: 327.09px;
    border: 1px solid #26343d;
    border-radius: 5px;
    overflow: hidden; }
    #projects .wrap #projectFilter div {
      border-right: 1px solid #26343d;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s ease; }
      #projects .wrap #projectFilter div:hover {
        background-color: #1a1d21; }
      #projects .wrap #projectFilter div:last-child {
        border-right: none; }
    #projects .wrap #projectFilter div.show {
      background-color: #1a1d21; }
  #projects .wrap #projectsWrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%; }
    #projects .wrap #projectsWrap .card {
      width: 28%;
      display: inline-block;
      margin: 0 30px 60px;
      position: relative; }
      #projects .wrap #projectsWrap .card .thumb-wrap {
        width: 100%;
        height: 208px;
        position: relative;
        transition: all 0.2s ease;
        background-color: #1a1d21;
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover; }
        #projects .wrap #projectsWrap .card .thumb-wrap .overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.7);
          transition: all 0.2s ease;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0; }
          #projects .wrap #projectsWrap .card .thumb-wrap .overlay a {
            transition: all 0.4s ease;
            transform: translateY(40px);
            display: block;
            width: 26px;
            height: 26px;
            font-size: 26px;
            padding: 18px;
            margin: 0 8px;
            border-radius: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: #006fff;
            box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3); }
            #projects .wrap #projectsWrap .card .thumb-wrap .overlay a .fa-external-link-alt {
              font-size: 20px; }
            #projects .wrap #projectsWrap .card .thumb-wrap .overlay a:hover {
              transition: all 0.2s ease !important;
              background-color: #0059cc; }
          #projects .wrap #projectsWrap .card .thumb-wrap .overlay a.url {
            transition: all 0.4s ease 0.06s; }
        #projects .wrap #projectsWrap .card .thumb-wrap img {
          max-width: 100%;
          height: auto;
          display: block; }
      #projects .wrap #projectsWrap .card:hover .overlay {
        opacity: 1 !important; }
        #projects .wrap #projectsWrap .card:hover .overlay a {
          transform: translateY(0); }
      #projects .wrap #projectsWrap .card h3 {
        margin: 20px 0 10px; }
      #projects .wrap #projectsWrap .card p {
        margin: 0; }
      #projects .wrap #projectsWrap .card div.github {
        display: inline-block;
        height: 26px;
        width: 26px;
        font-size: 26px;
        position: absolute;
        bottom: 20px;
        right: 0;
        cursor: pointer; }
      #projects .wrap #projectsWrap .card:hover .thumb-wrap {
        transform: scale(1.03);
        box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3); }

#footer {
  border-top: 1px solid #26343d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  overflow: hidden; }

#certs {
  margin-top: 96px;
  padding-top: 40px; }
  #certs .wrap {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap; }
    #certs .wrap a {
      width: 160px;
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 0 20px 40px; }
      #certs .wrap a img {
        height: 90px;
        width: auto;
        transition: all 0.2s ease; }
      #certs .wrap a p {
        text-align: center;
        transition: all 0.2s ease;
        opacity: 1; }
      #certs .wrap a:hover img {
        transform: translateY(-6px); }
    #certs .wrap a.unavailable img {
      filter: grayscale(100%); }
    #certs .wrap a.unavailable:hover img {
      transform: translateY(0); }

.login-content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column; }
  .login-content-wrap h3 {
    font-size: 25px;
    margin: 0; }
  .login-content-wrap p {
    text-align: center;
    margin: 10px 0 30px; }
  .login-content-wrap form {
    width: 360px; }
    .login-content-wrap form #inputWrap {
      position: relative;
      width: 360px; }
      .login-content-wrap form #inputWrap input {
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
        display: block;
        margin: auto;
        background-color: #fff !important;
        border: none;
        transition: all .2s ease;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 5px;
        height: 36px;
        width: 310px;
        padding: 8px 20px 8px;
        background: #fff;
        outline: none; }
      .login-content-wrap form #inputWrap input:focus {
        transform: scale(1.03); }
      .login-content-wrap form #inputWrap button.submit {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
        font-weight: 700;
        background-color: transparent;
        outline: none;
        color: #28c089;
        cursor: pointer;
        border: none;
        width: 50px;
        height: 50px; }
  .login-content-wrap .alert.danger {
    background-color: #ff5f5f;
    left: 0;
    right: 0;
    top: 4px;
    margin-top: 20px;
    color: #fff;
    display: block;
    width: 340px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.6, 0.41, 0.29, 1.65); }
  .login-content-wrap .alert.danger.show {
    opacity: 1 !important;
    transform: translateY(0); }
